<div class="dialog-backdrop" (click)="dialogService.close()">
  <div class="dialog-content" (click)="$event.stopPropagation()">
    
    <div class="header">
      <h2 class="task-title">{{ task().title }}</h2>
      
      <div class="options-container">
        <button class="options-btn" (click)="isOptionsMenuOpen.set(!isOptionsMenuOpen())">
          <img src="/assets/icon-vertical-ellipsis.svg" alt="Options">
        </button>

        @if (isOptionsMenuOpen()) {
          <div class="options-dropdown">
            <button (click)="openEditForm()">Edit Task</button>
            <button class="delete-text" (click)="openDeleteTask()">Delete Task</button>
          </div>
        }
      </div>
    </div>

    <p class="description">{{ task().description || 'No description provided.' }}</p>

    <div class="subtasks-section">
      <h3 class="section-title">Subtasks ({{ completedCount() }} of {{ task().subtasks?.length || 0 }})</h3>
      
      <div class="subtasks-list">
        @for (subtask of task().subtasks; track subtask.title) {
          <div class="subtask-item" [class.completed]="subtask.isCompleted" (click)="toggleSubtask(subtask)">
            <div class="checkbox">
              @if (subtask.isCompleted) { <img src="/assets/icon-check.svg" alt=""> }
            </div>
            <span>{{ subtask.title }}</span>
          </div>
        }
      </div>
    </div>

    <div class="status-section">
    <label>Current Status</label>
    <div class="custom-select" [class.active]="isStatusDropdownOpen()" (click)="toggleStatusDropdown()">
        <div class="select-display">
        <span>{{ task().status }}</span>
        <img src="/assets/icon-chevron-down.svg" [class.rotate]="isStatusDropdownOpen()" alt="">
        </div>

        @if (isStatusDropdownOpen()) {
        <div class="select-options">
            @for (col of columns(); track col.name) {
            <div class="option" (click)="updateStatus(col.name); $event.stopPropagation()">
                {{ col.name }}
            </div>
            }
        </div>
        }
    </div>
    </div>

  </div>
</div>